{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "importOrder": [
    "^[a-zA-Z]",
    "^\\w",
    "^@notionhq",
    "^@config/(.*)$",
    "^@controllers/(.*)$",
    "^@db/(.*)$",
    "^@models/(.*)$",
    "^@routes/(.*)$",
    "^@services/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true
}
